body {
	background-color: lightsteelblue;
	width: 920px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Oxygen', sans-serif;
	margin: 0 auto;
	margin-top: 65px;');
	text-align: center;
	color: snow;
	border: 1px dashed midnightblue;
	}

h1 {
	font-size: 43px;
	color: midnightblue;
	text-align: center;
	}

img {
	margin-left: 110px;
}

p{
	text-align: center;
	color: slategray;
}